@import "font-awesome-sprockets"
@import "font-awesome"

nav.navbar
	&.bg-dark-blue
		background: linear-gradient(45deg, black, #273b47, #274040)
	.navbar-nav
		.nav-item.active
			font-weight: bold
	.dropdown-user
		img
			border-radius: 50%
			background-color: white
			margin-left: 15px
.btn-interaction
	font-size: small
.card
	border-radius: 10px
